doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  body
    form(method="POST" action=`/api/v1/password-reset/${token}`)
        div
            label(for='password') Enter Password
            br
            input#password(type="password" name="password" placeholder="Enter password")
        div
            label(for='password-confirm') Confirm Password
            br
            input#password-confirm(type="password" name="password-confirm" placeholder="Confirm password")
        button Reset Password